<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>

<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h1>User info</h1>
        <table class="table">
           <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
          <tr>
            <th>name</th>
          </tr>
          <tr>
            <th>introduction</th>
          </tr>
        </table>
        <%= link_to " ", edit_user_path(:id), class:"btn btn-outline-secondary btn-block fas fa-user-cog" %>
    </div>
  </div>
</div>